.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.how-it-works-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.steps-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 80%;
  text-align: center;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}

.step-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.step-button {
  display: inline-block;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
}

.step-button:hover {
  background-color: #0056b3;
}

.icon {
  margin-right: 5px;
}
